<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="/ProyectoWeb/Structure/Styles/EmpStyle.css">
    <title>AirLatam</title>
    <link rel="icon" href="/ProyectoWeb/Structure/Images/imagenes_empresarial/IconEmpresa.png">
</head>

<body>
    <!-- ?Encabezado de la Web -->
    <header>
        <div class="Encabezado">
            <img src="/ProyectoWeb/Structure/Images/imagenes_empresarial/LogoAirPlane.png" alt="logoAvionEmpresa" class="imgEmp">
            <h1 class="tituloPricipal">Nuestra Empresa</h1>
            <ul class="listaE">
                <li><i class="fa-solid fa-eye"></i><a href="3"> Vision</a></li>
                <li><i class="fa-solid fa-people-robbery"></i><a href=""> Mision</a></li>
                <li><i class="fa-regular fa-gem"></i><a href=""> Vip</a></li>
                <li><i class="fa-solid fa-shop"></i><a href=""> Tienda</a></li>
                <li><i class="fa-regular fa-user"></i><a href=""> Login</a></li>
            </ul>
        </div>
    </header>
    <main>
        <div>

        </div>
    </main>
</body>
</html>