<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="/ProyectoWeb/Structure/Styles/EmpStyle.css">
    <title>AirLatam</title>
    <link rel="icon" href="/ProyectoWeb/Structure/Images/imagenes_empresarial/IconEmpresa.png">
</head>

<body>
    <!-- ?Encabezado de la Web -->
    <header>
        <div class="encabezado2" id="baner">
            <img src="/ProyectoWeb/Structure/Images/imagenes_empresarial/LogoAirPlane.png" alt="logoAvionEmpresa"
                class="imgEmp">
            <h1 class="tituloPricipal">Nuestra Empresa</h1>
        </div>
        <div class="Encabezado">
            <ul class="listaE">
                <li class="links"><i class="fa-solid fa-eye"></i><a href="3"> Vision</a></li>
                <li class="links"><i class="fa-solid fa-people-robbery"></i><a href=""> Mision</a></li>
                <li class="links"><i class="fa-regular fa-gem"></i><a href=""> Vip</a></li>
                <li class="links"><i class="fa-solid fa-shop"></i><a href=""> Tienda</a></li>
                <li class="links"><i class="fa-regular fa-user"></i><a href=""> Login</a></li>
            </ul>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="subContainer">
                <h2>Bienvenidos a la Aerolinea del Ecuador AirLatamEC</h2>
            </div>
            <div class="posContainer">
                <div class="posUno">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, voluptate dolore. Quos odio
                    incidunt fugiat blanditiis rerum consequatur, nulla suscipit natus eos! At laudantium accusantium,
                    quia ullam earum qui quidem?
                </div>
                <div class="buttons1">
                    <div class="posDos">
                        <a href="">Soporte Tecnico</a>
                    </div>
                    <div class="posTres">
                        <a href="/ProyectoWeb/Structure/Templates/Index.html">Volver al Inicio</a>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="PersonalEC">Nuestro Personal</h2>
        <div class="container2">
            <div class="map Block1">
                <h2>Presidente Empresarial</h2>
                <p>Aqui va el texto de prueba de la descripcion del presidente de la aerolinea y una brebe descripcion de el y su carrera destacada en esta compania </p>
            </div>
            <div class="map Block2"></div>
            <div class="map Block3"></div>
            <div class="map Block4"></div>
    </main>




    <script src="/ProyectoWeb/Structure/Backend/appEmp.js"></script>
</body>

</html>