<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="/ProyectoWeb/Structure/Styles/EmpStyle.css">
    <title>AirLatam</title>
    <link rel="icon" href="/ProyectoWeb/Structure/Images/imagenes_empresarial/IconEmpresa.png">
</head>

<body>
    <!-- ?Encabezado de la Web -->
    <header>
        <div class="encabezado2" id="baner">
            <img src="/ProyectoWeb/Structure/Images/imagenes_empresarial/LogoAirPlane.png" alt="logoAvionEmpresa"
                class="imgEmp">
            <h1 class="tituloPricipal">Nuestra Empresa</h1>
        </div>
        <div class="Encabezado">
            <ul class="listaE">
                <li class="links"><i class="fa-solid fa-eye"></i><a href="3"> Vision</a></li>
                <li class="links"><i class="fa-solid fa-people-robbery"></i><a href=""> Mision</a></li>
                <li class="links"><i class="fa-regular fa-gem"></i><a href=""> Vip</a></li>
                <li class="links"><i class="fa-solid fa-shop"></i><a href=""> Tienda</a></li>
                <li class="links"><i class="fa-regular fa-user"></i><a href=""> Login</a></li>
            </ul>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="subContainer">
                <h2>Bienvenidos a la Aerolinea del Ecuador AirLatam EC</h2>
            </div>
            <div class="posContainer">
                <div class="posUno">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, voluptate dolore. Quos odio
                    incidunt fugiat blanditiis rerum consequatur, nulla suscipit natus eos! At laudantium accusantium,
                    quia ullam earum qui quidem?
                </div>
                <div class="buttons1">
                    <div class="posDos">
                        <a href="">Soporte Tecnico</a>
                    </div>
                    <div class="posTres">
                        <a href="/ProyectoWeb/Structure/Templates/Index.html">Volver al Inicio</a>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="PersonalEC">Nuestro Personal</h2>
        <div class="container2">
            <div class="map Block1">
                <h2>Presidente Empresarial</h2>
                <img src="/ProyectoWeb/Structure/Images/imagenes_empresarial/empresario.png" alt="imagenPresindente">
                <p>Aqui va el texto de prueba de la descripcion del presidente de la aerolinea y una brebe descripcion
                    de el y su carrera destacada en esta compania </p>
            </div>
            <div class="map Block1">
                <h2>Equipo de Trabajo</h2>
                <img src="/ProyectoWeb/Structure/Images/imagenes_empresarial/aviones.png" alt="AirLatamEC">
                <p>
                    Nuesto grupo de Trabajo Empresarial
                    como realizazmos nuestras entregas a el publico y como nos organizamos al rededor del circulo
                    mundial, gracias por confiar en AirLatamEC.
                </p>
            </div>
            <div class="map Block1">
                <h2>Soporte Tecnico</h2>
                <img src="/ProyectoWeb/Structure/Images/imagenes_empresarial/soporteTecnico.png"
                    alt="imagenSoporteTecnico">
                <p>
                    Nuestro equipo de Trabajo en el Soporte Tecnico esta a la espectativa de cualquier fallo en nuestro
                    sistema y de supervisarlo en cualquier inconveniente las 24Horas del dia y los 365 dias del Año.
                </p>
            </div>
            <div class="map Block1 cardsDb">
                <div class="servCards">
                    <a href="#">
                        <img src="/ProyectoWeb/Structure/Images/ImagenesIcons/apple-music-icon.svg" alt="AppleMusic">
                    </a>
                </div>
                <div class="servCards">
                    <a href="#">
                        <img src="/ProyectoWeb/Structure/Images/ImagenesIcons/facebook.svg" alt="facebookEmpresa">
                    </a>
                </div>
                <div class="servCards">
                    <a href="#"><img src="/ProyectoWeb/Structure/Images/ImagenesIcons/linkedin.svg"
                            alt="linkedinEmpresa"></a>
                </div>
                <div class="servCards">
                    <a href="#"><img src="/ProyectoWeb/Structure/Images/ImagenesIcons/spotify.svg"
                            alt="spotifyEmpresa"></a>
                </div>
                <div class="servCards">
                    <a href="#"><img src="/ProyectoWeb/Structure/Images/ImagenesIcons/youtube.svg"
                            alt="youtubeEmpresa"></a>
                </div>
                <div class="servCards">
                    <a href="#"><img src="/ProyectoWeb/Structure/Images/ImagenesIcons/whatsapp.svg"
                            alt="whatsappEmpresa"></a>
                </div>
            </div>
    </main>




    <script src="/ProyectoWeb/Structure/Backend/appEmp.js"></script>
</body>

</html>