/* Estilos de la web de la empresa */
@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cal+Sans&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Cal Sans", sans-serif;
  background-color: #28464b;
  color: #42d9c8;
}

header {
  background-color: #326771;
  padding: 20px;
}

header h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color: #1b99bc;
}

header h1:hover {
  color: #b9c514;
  transition: 0.5s;
  text-shadow: #15a4cc 0px 0px 10px;
}

.encabezado2 {
  display: felx;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  padding: 20px;
}

.Encabezado {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-left: 200px;
}

ul {
  display: flex;
  gap: 30px;
}

.imgEmp {
  float: left;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 20px;
  background-color: #fff;
}

.imgEmp:hover {
  transform: scale(1.1);
  transition: transform 0.8s;
  box-shadow: 0px 0px 10px #42d9c8;
}

.links {
  color: #42d9c8;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  transition: all 0.3s ease-in-out;
}

.links:hover {
  color: #1b99bc;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  text-decoration: underline;
}

.links a {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

/* ! decoracion del Main de la pagina */
.container {
  width: 880px;
  height: 393px;
  background-color: #326771;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  font-size: 14px;
  gap: 102px;
  line-height: 22px;
  margin: 100px 45vh;
}

.subContainer {
  background-color: #000;
  width: 516px;
  height: 393px;
  color: #42d9c8;
  text-shadow: #0ad09c 0px 0px 10px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: -1.85px;
  line-height: 96.2px;
  text-align: center;
  margin-right: 20px;
  border-radius: 20px;
}

.posContainer {
  color: #42d9c8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  gap: 40px;
  line-height: 22px;
  margin-right: 20px;
}

.posUno {
  width: 375px;
  height: 170px;
  font-family: "Bebas Neue", sans-serif;
  color: #42d9c8;
  font-size: 25px;
  font-weight: 300;
  line-height: 34px;
}

.buttons1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  gap: 90px;
}

.posDos {
  color: #42d9c8;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}

.posDos a {
  background-color: #28464b;
  padding: 10px;
  color: #42d9c8;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}

.posTres {
  color: #42d9c8;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}

.posTres a {
  background-color: #28464b;
  padding: 10px;
  color: #42d9c8;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}

.posDos a:hover {
  background-color: #1b99bc;
  color: #fff;
}

.posTres a:hover {
  background-color: #1b99bc;
  color: #fff;
}

.PersonalEC {
  text-align: center;
  color: #42d9c8;
  font-size: 50px;
  margin-bottom: 20px;
  font-family: "Bebas Neue", sans-serif;
  text-shadow: #0ad09c 0px 0px 10px;
}

.container2 {
  background-color: #326771;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.map {
  background: linear-gradient(135deg, #28464b 0%, #42d9c8 100%);
  width: 100%;
  height: 300px;
  border-radius: 20px;
  margin: 0 auto;
  transition: transform 0.3s;
}

.map:hover {
  transform: translateY(-10px);
}

.Block1 {
  text-align: center;
  color: rgb(27, 27, 27);
}

.Block1 h2 {
  font-family: "Bebas Neue", sans-serif;
  color: #42d9c8;
  font-size: 30px;
  margin: 10px 0;
  text-shadow: #15a4cc 0px 0px 10px;
}

.Block1 img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.Block1 p {
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  text-shadow: #15a4cc 0px 0px 10px;
  text-align: justify;
  margin: 20px;
}

.cardsDb {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.servCards {
  background: #aee1e7;
  margin: 20px 10px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.servCards:hover {
  transform: translateY(-5px);
}

.servCards img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin: 10px auto;
}

.container3{
  background-color: #28464b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marcoImg{
  background-color: #326771;
  margin: 100px;
  width:  1200px;
  height: 500px;
  border-radius: 20px;
  background-image: url(/ProyectoWeb/Structure/Images/imagenes_empresarial/banerAirPlane.jpg);
  background-size: cover;
  background-position: center;
}

.marcoImg:hover{
  transform: scale(1.05);
  transition: transform 0.8s;
  box-shadow: 0px 0px 10px #42d9c8;
}

.marcoImg h2 {
  color: #000000;
  font-size: 50px;
  font-family: "Bebas Neue", sans-serif;
  text-shadow: #0ad09c 0px 0px 10px;
  text-align: center;
  margin-top: 150px;
}
.marcoImg h2:hover {
  color: #b9c514;
  transition: 1s;
  text-shadow: #15a4cc 0px 0px 10px;
}
