/* Estilos de la web de la empresa */
@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cal+Sans&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Cal Sans', sans-serif;
    background-color: #28464B;
    color: #42D9C8;
}

header{
    background-color: #326771;
    padding: 20px;
}

header h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #1b99bc;
}

.encabezado2{
    display: felx;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    padding: 20px;
}

.Encabezado{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: 200px; 
}

ul {
    display: flex;
    gap: 30px;
}

.imgEmp{
    float: left;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 20px;
    background-color: #fff;
}

.links {
    color: #42D9C8;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    transition: all 0.3s ease-in-out;
}

.links:hover {
    color: #1b99bc;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
}

.links a {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

/* ! decoracion del Main de la pagina */
.container{
    width: 880px;
    height: 393px;
    background-color: #326771;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    font-size: 14px;
    gap: 102px;
    line-height: 22px;
    margin: 100px 45vh;
}

.subContainer{
    background-color: #000;
    width: 516px;
    height: 393px;
    color: #42D9C8;
    font-family: "Bebas Neue", sans-serif;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: -1.85px;
    line-height: 96.2px;
    text-align: center;
    margin-right: 20px;
    border-radius: 20px;
}

.posContainer{
    color: #42D9C8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    gap: 40px;
    line-height: 22px;
    margin-right: 20px;

}

.posUno{
    width: 375px;
    height: 170px;
    font-family: "Bebas Neue", sans-serif;
    color: #42D9C8;
    font-size: 25px;
    font-weight: 300;
    line-height: 34px;
}

.buttons1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    gap: 90px;
}

.posDos{
    color: #42D9C8;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}

.posDos a{
    background-color: #28464B;
    padding: 10px;
    color: #42D9C8;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}

.posTres{
    color: #42D9C8;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}

.posTres a{
    background-color: #28464B;
    padding: 10px;
    color: #42D9C8;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}

.posDos a:hover{
    background-color: #1b99bc;
    color: #fff;
}

.posTres a:hover{
    background-color: #1b99bc;
    color: #fff;
}